html {
    background: rgb(106,153,78);
    background: linear-gradient(145deg, rgb(94, 148, 63) 20%, rgba(167,201,87,1) 100%);
}

h1, h2, h3, h4, h5, h6, ol, ul, li, a, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    list-style: none;
    color: #000000;
    text-decoration: none;
}

div.box {
    background-color: #478153;
    margin: auto;
    width: 600px;
}

img {
    width: 600px;
}

h1.title {
    color: #dadada;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 35px;
}

p.info {
    color: #dadada;
    font-size: 18px;
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    padding: 35px;
    padding-top: 0;
}

ul.bottom-menu {
    padding-left: 35px;
    display: flex;
    padding-bottom: 20px;
}

.bottom-menu li{
    display:flex;
    align-items: center;
}

.icon {
    padding-left: 7px;
    width: 20px;
}

.clickables {
    color:#dadada;
    font-size: 14px;
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    padding-left: 5px;
    transition: .2s;
}

.clickables:hover {
    color:#369dfd;
    transition: .2s;
}